In [1]:
import pandas as pd

# Load the invoices data from an Excel file
invoices_data = pd.read_excel('https://foresightbi.com.ng/wp-content/uploads/2020/05/8.-Invoices-with-Merged-Categories-and-Merged-Amounts.xlsx')

# Display the first few rows of the original invoices data
invoices_data.head()

,Order ID,Category,Amount
0,CA-2011-167199,Binders | Art | Phones | Fasteners | Paper,609.98 | 5.48 | 391.98 | 755.96 | 31.12
1,CA-2011-149020,Office Supplies | Furniture,2.98 | 51.94
2,CA-2011-131905,Office Supplies | Technology | Technology,7.2 | 42.0186 | 42.035
3,CA-2011-127614,Accessories | Tables | Binders,234.45 | 1256.22 | 17.46

In [2]:
# Split the 'Category' and 'Amount' columns by '|' and explode them into separate rows
exploded_categories = invoices_data['Category'].str.split('|').explode()
exploded_amounts = invoices_data['Amount'].str.split('|').explode()

# Create a new DataFrame with the exploded categories and amounts
exploded_data = pd.DataFrame({
    'Category': exploded_categories,
    'Amount': exploded_amounts
})

# Join the 'Order ID' from the original DataFrame to the new exploded DataFrame
exploded_data = exploded_data.join(invoices_data['Order ID'])

In [3]:
# Rearrange the columns and reset the index
final_data = exploded_data.loc[:, ['Order ID', 'Category', 'Amount']].reset_index(drop=True)

# Display the first few rows of the final structured data
final_data.head()

         Order ID     Category    Amount
0  CA-2011-167199     Binders    609.98
1  CA-2011-167199         Art      5.48
2  CA-2011-167199      Phones    391.98
3  CA-2011-167199   Fasteners    755.96
4  CA-2011-167199        Paper     31.12