In [1]:
import pandas as pd

# Load the customer details from an Excel file without headers and convert to a Series
customer_data = pd.read_excel('https://foresightbi.com.ng/wp-content/uploads/2020/05/5.-Jumbled-up-Customers-Details.xlsx', header=None).squeeze()

# Display the first few rows of the original customer data
customer_data.head()

0    Name Hussein Hakeem Address Number 22 Fioye Cr...
1    Name Arojoye Samuel Address 11 Omolade Close O...
2    Name Alex Ezurum Address 1 Adamu Lane, Abuja A...
3    Name Susan Nwaimo Address Number 58 Yaba Stree...
4    Name Ajao Opeyemi Address No12 Olubunmi Street...
Name: 0, dtype: object

For more examples on how to use use pandas.Series.str for effectively manipulating string data
see : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.html

In [2]:
# Extract relevant information using regex: Name, Address, Age, and Gender
extracted_customer_data = customer_data.str.extract(r'Name (.+) Address (.+) Age (\d+) Gender (\w+)')

# Rename the columns for better clarity
extracted_customer_data.columns = ['Name', 'Address', 'Age', 'Gender']

# Display the structured customer data
extracted_customer_data

                  Name                                  Address Age  Gender
0       Hussein Hakeem  Number 22 Fioye Crescent Surulere Lagos  17    Male
1       Arojoye Samuel      11 Omolade Close Omole Estate Lagos  16    Male
2          Alex Ezurum                      1 Adamu Lane, Abuja  14    Male
3         Susan Nwaimo     Number 58 Yaba Street, Kaduna State   16  Female
4         Ajao Opeyemi           No12 Olubunmi Street, Abeokuta  18  Female
5    Banjoko Adebusola           34 Ngige Street, Ugheli, Delta  14  Female
6     Muhammed Olabisi                     13, ICAN road, Enugu  12  Female
7  Oluwagbemi Mojisola                       ACCA Lane, Onitsha  13  Female